{% extends "layout.html" %}
{% block body %}
    <ul class=content>
    {% if session.logged_in %}
        <li><em><a href="{{ url_for('hero_pool') }}">Hero Pool</a></em>
        <li><em><a href="{{ url_for('hero_pool') }}">Compositions</a></em>
        <li><em><a href="{{ url_for('hero_pool') }}">Combinations</a></em>
        <li><em><a href="{{ url_for('hero_pool') }}">Counters</a></em>
        <li><em><a href="{{ url_for('hero_pool') }}">Draft Strategies</a></em>
        <li><em><a href="{{ url_for('hero_pool') }}">Practice Scheduler</a></em>
    {% endif %}
    </ul>
{% endblock %}
